main {
  max-width: 640px;
  margin: 0 auto;
}

.app-title {
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
  background: #337AB7;
  border-bottom: 2px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.title-first {
  color: #008CCA;
  -webkit-text-stroke-color: #337AB7;
}

.title-second {
  /*color: #337AB7;*/
  color: #008CCA;
  /*-webkit-text-stroke-color: #337DD7;*/
}

.title-space {
  width: 100%;
  height: 60px;
}
