.btn {
  display: flex;
  justify-content: left;
  font-size: 2em;
  padding-left: 25px;
  align-items: center;
  color: #008CCA;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
}

.selected {
  color: #fff;
  /*background: #008CCA;*/
}
