@import '../../style/vars';

.material-type-button {
  display: flex;
  font-size: 2em;
  padding-left: 10px;
  color: $color-secondary;
  font-family: $font-cursive;
  cursor: pointer;
  text-shadow: 1px 1px 1px black;
}

.selected {
  color: $color-white;
}
