@import '../../style/vars';

.book-view-container {
  color: white;
  min-height: calc(100vh - 61px);
  text-align: left;
  border-top: 2px solid $color-white;
}

.book-information-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "blank close"
    "cover book-title"
    "cover book-subtitle"
    "cover book-author"
    "left-arrow right-arrow";
  // justify-items: left;
  align-items: normal;
  color: white;
  background: $color-secondary;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.book-description-container {
  display: grid;
  grid-template-rows: 1fr 1px 1px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "book-description";
  padding: 10px;
  border-top: 2px solid $color-white;
}

.cover {
  grid-area: cover;
}

// .book-view-close {
//   grid-area: close;
//   position: relative;
//   justify-self: right;
//   height: 20px;
//   width: 20px;
//   span {
//     display: inline-block;
//     height: 2px;
//     width: 15px;
//     position: absolute;
//     top: 10px;
//     left: 0;
//     background: $color-white;
//   }
// }

// .book-view-close span:nth-child(1) {
//   transform: rotate(-45deg);
// }
//
// .book-view-close span:nth-child(2) {
//   transform: rotate(45deg);
// }

.close-icon {
  grid-area: close;
  justify-self: right;
}

.book-title {
  grid-area: book-title;
  align-self: end;
}

.book-subtitle {
  grid-area: book-subtitle;
}

.book-author {
  grid-area: book-author;
}

.left-arrow-icon {
  grid-area: left-arrow;
  justify-self: left;
}

.right-arrow-icon {
  grid-area: right-arrow;
  justify-self: right;
}

.book-description {
  grid-area: book-description;
  line-height: 1.2em;
}
