@import '../../style/vars';

.book-view-container {
  color: white;
  min-height: calc(100vh - 61px);
  text-align: left;
  font-family: $font-normal;
}

.book-information-container {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "version version"
    "cover book-title"
    "cover book-subtitle"
    "cover book-author"
    "library blank"
    "nav nav";
  align-items: normal;
  color: white;
  background: $color-primary;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  // text-shadow: 1px 1px 1px black;
}

.version-counter {
  grid-area: version;
  justify-self: left;
}

.cover {
  grid-area: cover;
}

.close-icon {
  grid-area: version;
  justify-self: right;
}

.book-title {
  grid-area: book-title;
  align-self: end;
  font-size: 1.2em
}

.book-subtitle {
  grid-area: book-subtitle;
}

.book-author {
  grid-area: book-author;
  height: 1.2em;
}

.author-link-icon {
  font-size: .70em;
  padding-left: 5px;
}

.library-link {
  grid-area: library;
  align-self: start;
  justify-self: left;
}

.google-books-link {
  grid-area: nav;
  align-self: end;
  justify-self: center;
  text-decoration: underline;
  font-style: italic;
  font-size: .9em;
}

.left-arrow-icon {
  grid-area: nav;
  align-self: center;
  justify-self: left;
}

.right-arrow-icon {
  grid-area: nav;
  align-self: center;
  justify-self: right;
}

.book-description-container {
  display: grid;
  grid-template-rows: 130px auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "book-description";
  padding: 10px;
  border-top: 2px groove $color-white;
}

.book-description {
  overflow: hidden;
  grid-area: book-description;
  line-height: 1.5em;
}

.fade-anchor {
  display: block;
  height: 100%;
  grid-area: book-description;
  background: linear-gradient(to bottom, rgba(237, 239, 240, 0), rgba(237, 239, 240, 0) 90px, $color-primary 120px);
}

.read-more {
  justify-self: center;
  z-index: 10;
  padding: 10px;
  font-size: 1.2em;
}
