$color-primary: #008CCA;
$color-secondary: #337AB7;
$color-tertiary: purple;
$color-white: #fff;

// red
// $color-primary: #F64060;

// green
// $color-primary: #00B140;

// dark green
// $color-secondary: #00471A;

// light blue
// $color-primary: #9DC3D7;

// dark blue
// $color-secondary: #003B57;
