@import '../../style/vars';

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "year month quantity-number"
    "quantity-slider quantity-slider quantity-slider"
    "books books books"
    "ebooks ebooks ebooks"
    "audiobooks audiobooks audiobooks"
    "magazines magazines magazines"
    "search-field search-field search-field";
  border-bottom: 2px groove $color-white;

  .month-list, .year-list{
    color: white;
    font-size: 1.5em;
    font-family: $font-cursive;
    padding-left: 10px;
    padding-right: 10px;
    border: $color-primary;
    background: $color-primary;
    text-shadow: 1px 1px 1px black;
  }

  .year-list {
    width: inherit;
    grid-area: year;
    justify-self: left;
    border:0;
    outline:0;
  }

  .month-list {
    grid-area: month;
    justify-self: center;
    border:0;
    outline:0;
  }

  .year-list:active, .mont-list:active {
    border:0;
    outline:0;
  }

  .slider-quantity {
    grid-area: quantity-number;
    align-self: center;
    justify-self: right;
    padding-right: 10px;
    color: $color-white;
    font-size: 1.3em;
    font-family: $font-cursive;
    text-shadow: 1px 1px 1px black;
  }

  .slider {
    grid-area: quantity-slider;
    background: $color-primary;
    align-self: center;
    padding-right: 10px;
    padding-left: 10px;

  }

  .book {
    grid-area: books;
    align-self: center;
  }

  .ebook {
    grid-area: ebooks;
    align-self: center;
  }

  .audiobook {
    grid-area: audiobooks;
    align-self: center;
  }

  .magazine {
    grid-area: magazines;
    align-self: center;
  }

  .fa {
    color: $color-secondary;
    justify-self: right;
    align-self: center;
    text-shadow: 1px 1px 1px black;
    margin-right: 100px;
    opacity: 0;
    transition: .35s ease-in-out;
  }

  .book-icon {
    grid-area: books;
  }

  .ebook-icon {
    grid-area: ebooks;
  }

  .audiobook-icon {
    grid-area: audiobooks;
  }

  .magazine-icon {
    grid-area: magazines;
  }

  .search-form {
    grid-area: search-field;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .selected {
    color: $color-white;
  }

  .fa.selected {
    margin-right: 10px;
    opacity: 1;
  }

}
