@import '../../style/vars';

ul, li {
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filters-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 50px);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "books books"
    "ebooks ebooks"
    "magazines magazines"
    "month quantity-slider"
    "year quantity-number"
    "search search";
  // border-top: 2px solid $color-white;
  border-bottom: 2px groove $color-white;
}

.book {
  grid-area: books;
}

.book-icon {
  grid-area: books;
  color: $color-primary;
  justify-self: right;
  align-self: center;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
}

.ebook {
  grid-area: ebooks;
}

.ebook-icon {
  grid-area: ebooks;
  color: $color-primary;
  justify-self: right;
  align-self: center;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
}

.magazine {
  grid-area: magazines;
}

.magazine-icon {
  grid-area: magazines;
  color: $color-primary;
  justify-self: right;
  align-self: center;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
}

.song {
  grid-area: songs;
}

.song-icon {
  grid-area: songs;
  color: $color-primary;
  justify-self: right;
  align-self: center;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
}

.month-list, .year-list{
  color: white;
  border: $color-primary;
  background: $color-secondary;
  font-size: 1.5em;
  padding-left: 10px;
  text-shadow: 1px 1px 1px black;
}

.month-list {
  grid-area: month;
}

.year-list {
  grid-area: year;
}

.slider {
  grid-area: quantity-number;
  background: $color-secondary;
  align-self: center;
  padding-right: 10px;
  padding-left: 25px;
}

.slider-quantity {
  grid-area: quantity-slider;
  align-self: center;
  justify-self: right;
  padding-right: 10px;
  color: $color-white;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black;
}

.search-button {
  grid-area: search;
}

.selected {
  color: $color-white;
}

@keyframes loading-text-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
