@import '../../style/vars';

.rangeslider-horizontal .rangeslider__fill {
  background-color: $color-white;
}

.rangeslider {
  background: $color-secondary;
}

.rangeslider-horizontal .rangeslider__handle:after {
  background-color: $color-primary;
}
