@import '../../style/vars';

.checkout-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-shadow: 1px 1px 1px black;
}

.checkout-item, .checkout-item-header {
  display: grid;
  grid-template-columns: 1fr 55px 40px;
  grid-column-gap: 10px;
  align-items: center;
  padding: 10px;
  color: white;
  border-bottom: .5px dashed $color-secondary;
  text-align: left;
}

.checkout-item-header {
  position: sticky;
  top: 70px;
  border-top: none;
  border-bottom: 2px groove $color-white;
  background: $color-primary;
}

.checkout-item-title-header {
  text-align: left;
  font-size: 1.5em;
}

.checkout-item-amount-header {
  justify-self: center;

}

.checkout-item-place-header {
  justify-self: right;
}

.checkout-item-creator {
  justify-self: left;
  padding-top: 10px;
  text-align: left;
  font-size: .75em;
}

.checkout-item-amount {
  justify-self: center;
  align-self: flex-start;
}

.checkout-item-place {
  justify-self: right;
  align-self: flex-start;
}

.up-arrow-icon {
  width: 95%;
  max-width: 640px;
  position: fixed;
  bottom: 0;
  color: $color-white;
  font-size: 28px !important;
  cursor: pointer;
  background-color: $color-primary;
  border-top: 2px solid $color-white;
}

.checkout-end-space {
  height: 33px;
  width: 100%;
}
