@import '../../style/vars';

.checkout-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  // background: $color-primary;
  font-size: 1em;
  text-shadow: 1px 1px 1px black;
}

.checkout-item {
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-column-gap: 10px;
  align-items: center;
  padding: 5px;
  color: white;
  border-top: .5px dotted $color-primary;
}

.checkout-title {
  // display: flex;
  // min-width: 200px;
  justify-content: center;
}

.large {
  font-size: 1.5em;
}
