.checkout-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background: #008CCA;
}

.checkout-item {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
  padding: 5px;
  color: white;
}

.checkout-title {
  display: flex;
  justify-content: center;
}

/*.checkout-item:nth-child(odd) {
  background: #008CCA;
}*/
