@import '../../style/vars';

.checkout-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  // background: $color-primary;
  font-size: 1em;
  text-shadow: 1px 1px 1px black;
}

.checkout-item {
  display: grid;
  grid-template-columns: 1fr 90px 40px;
  grid-column-gap: 10px;
  align-items: center;
  padding: 10px;
  color: white;
  border-top: .5px dotted $color-primary;
  text-align: left;
}

.checkout-title-header {
  text-align: left;
}

.checkout-creator-header {
  justify-self: left;
}

.checkout-item-creator {
  justify-self: left;
  text-align: left;
}

.checkout-amount-header {
  justify-self: right;
}

.checkout-amount {
  justify-self: right;
}

.large {
  font-size: 1.5em;
}
