@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import './style/vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: $color-white;
}

.selected {
  color: $color-white;
}

.cursor {
  cursor: pointer;
}

.cursive {
  font-family: 'Lobster', cursive !important;
}

.normal {
  font-family: 'Lato', sans-serif !important;
}
